input{

}
.form-control{
    font-size: 18px;
    background-color: orange;
}
input[type='email']{
    background-color: beige;
}
input[name='pwd']{
    background-color: aqua;
}
input[name='bth'][type='date']{
    background-color: green;
}
.footer li a i{
    font-size: 150px;
    color: red;
}